<% if !flash[:notice].blank? %>
    <div class = "alert alert-info">
      <%= flash[:notice] %>
    </div>
<% end %>

  <div>

    Upload data from file:

  <%= form_tag({:action => 'upload'}, multipart: true) do %>
      <div class="field">
        <%= label_tag :file %>
        <%= file_field_tag :file %>
      </div>
      <div class="actions">
        <%= submit_tag 'Upload'%>
      </div>
  <% end %>
  </div>
