<% if !flash[:notice].blank? %>
    <div class = "alert alert-info">
      <%= flash[:notice] %>
    </div>
<% end %>

  <div>

    Upload data from file:
    Please see fixtures in spec folder for the file format. Fields and Records can be uploaded

    <%= form_tag({:action => 'upload'}, multipart: true) do %>
      <div class="field">
        <%= label_tag :file %>
        <%= file_field_tag :file %>
      </div>
      <div class="actions">
        <%= submit_tag 'Upload'%>
      </div>
  <% end %>
  </div>

</br>

<div>
  Create an organization
  <%= form_tag({:action => 'create', :controller => 'companies'}) do %>
      <div class="field">
        <%=text_field_tag 'name'%>
      </div>
      <div class="actions">
        <%= submit_tag 'Create'%>
      </div>
  <% end %>
</div>


 <div>
   Create a driver
   <%= form_tag({:action => 'create', :controller => 'drivers'}) do %>
       <div class="field">
         <%=text_field_tag 'name'%>
         <%=select_tag 'company_id', options_for_select(@companies.collect{ |c| [c.name, c.id] })%>
       </div>
       <div class="actions">
         <%= submit_tag 'Create'%>
       </div>
   <% end %>
 </div>


<div>
  Create a field
  <%= form_tag({:action => 'create', :controller => 'fields'}) do %>
      <br class="field">
        <span>Name: </span><%=text_field_tag 'name'%></br>
        <span>Polygon shape</span><%=text_field_tag 'shape'%>
      </div>
      <div class="actions">
        <%= submit_tag 'Create'%>
      </div>
  <% end %>
</div>

<div>

  Create a record for the driver. Please put the json for the record here
  <%= form_tag({:action => 'create', :controller => 'records'}) do %>
      <div class="field">
        <%=text_area_tag 'json_text'%>
      </div>
      <div class="actions">
        <%= submit_tag 'Create'%>
      </div>
  <% end %>
</div>

